.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #9dc3f3;
    color:  rgb(27, 26, 26);
    padding: 10px 20px;
  }
  
  nav a {
    color: rgb(27, 26, 26);
    text-decoration: none;
    margin-left: 15px;
  }
  