<div class="container mt-4">
    <mat-card class="details-card">
      <img [src]="product.image" [alt]="product.title" class="product-image" />
      <mat-card-content>
        <h2>{{ product.title }}</h2>
        <p><strong>Categoría:</strong> {{ product.category }}</p>
        <p><strong>Descripción:</strong> {{ product.description }}</p>
        <p><strong>Precio:</strong> {{ product.price | currency }}</p>
        <p><strong>Valoración:</strong> {{ product.rating?.rate }} ⭐</p>
        <button mat-button color="primary" routerLink="/products">Volver</button>
      </mat-card-content>
    </mat-card>
  </div>
  